name: Render Quarto/RMarkdown site
permissions:
  contents: write
  pages: write
  id-token: write
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3.1'

      - name: Install Quarto
        run: |
          sudo apt-get install wget -y
          wget https://github.com/quarto-dev/quarto-cli/releases/download/v1.9.9/quarto-1.9.9-linux-amd64.deb
          sudo dpkg -i quarto-1.9.9-linux-amd64.deb

      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c(
            "rmarkdown","knitr","kableExtra","deSolve","phaseR",
            "pagedown","graphics","RColorBrewer","latex2exp","captioner"
          ), repos="https://cran.rstudio.com")'

      - name: Render site
        run: quarto render

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
